@model MVC_MailHandsOn.Models.MVCMail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Process</title>
</head>
<body>
    @ViewBag.mailid <br />
    @ViewBag.mailfrom <br />
    @ViewBag.sub <br />
    @ViewBag.receivedate <br />
    @ViewBag.msg <br />
</body>
</html>
